<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="fadoBuilder"
         name="Fado Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="fado.eclipse.builder.FadoBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="fadoNature"
         name="Fado Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="fado.eclipse.builder.FadoNature">
         </run>
      </runtime>
      <builder
            id="fado.eclipse.fadoBuilder">
      </builder>
   </extension>
      <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer?after=additions">
         <command
               commandId="fado.eclipse.addBuilder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                     </adapt>
                  </iterate>
                  <iterate>
                     <not>
                        <test
                              forcePluginActivation="true"
                              property="fado.eclipse.isEnabled">
                        </test>
                     </not>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="fado.eclipse.removeBuilder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt type="org.eclipse.core.resources.IProject" />
                  </iterate>
                  <iterate>
                     <test
                           forcePluginActivation="true"
                           property="fado.eclipse.isEnabled">
                     </test>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="fado.eclipse.AddBuilder"
            id="fado.eclipse.addBuilder"
            name="Add Fado Builder">
      </command>
      <command
            defaultHandler="fado.eclipse.RemoveBuilder"
            id="fado.eclipse.removeBuilder"
            name="Remove Fado Builder">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="fado.eclipse.TestFadoEnabled"
            id="fado.eclipse.testFadoEnabled"
            namespace="fado.eclipse"
            properties="isEnabled"
            type="java.lang.Object">
      </propertyTester>
   </extension>
<!--
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="fado.eclipse.contribution1">
         <action
               label="Toggle Fado Nature"
               class="fado.eclipse.builder.ToggleNatureAction"
               menubarPath="additions"
               enablesFor="+"
               id="fado.eclipse.addRemoveNatureAction">
         </action>
      </objectContribution>
   </extension>
   -->
   <extension
         id="fadoProblem"
         name="Fado Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>

</plugin>
