## NormalSQL
##
## SELECT Statement Template for Java & JDBC
##
## Copyright 2022, 2014, 2011, 2010 Jason Osgood
##
## Template Parameters:
##
##     date - current timestamp
##     packageName - target Java package name as String
##     statementClassName - target Java class name for PreparedStatement wrapper as String
##     resultSetClassName - target Java class name for ResultSet wrapper as String
##     sourceFile - name of original .sql file
##     originalSQL - original unparsed SQL
##     preparedSQL - prepared statement version of originalSQL
##     printfSQL - printf version of originalSQL, for debugging
##     statementProperties - List<Property>, meta data for getters and setters
/**
* ${resultSetClassName}.java ${date}
*
## TODO put actual filename and its timestamp here.
* Generated using NormalSQL's Select.vm template.
*
* Original SQL:
*
## TODO: Should this be a JavaDoc @snippet?
* <pre>
* {@code
#foreach( $line in $originalSQL.split('\n') )
* $line
#end
* }
* </pre>
*
## TODO add timestamp
* @see ${sourceFile}
*
**/

## TODO add null check here
package ${packageName};

import java.sql.*;
import javax.sql.DataSource;
import java.math.BigDecimal;

public class
	${statementClassName}
{
	private PreparedStatement __ps = null;

    ## add back each '\n', then concat each line with '+', then end with ';'
	public final String __preparedSQL =
		#foreach( $line in $preparedSQL.split('\n') )
		"${line}#if($foreach.hasNext)\n#end"#if($foreach.hasNext)+ #else; #end
		#end

    ## add back each '\n' (as %n), then concat each line with '+', then end with ';'
	public final String __printfSQL =
		#foreach( $line in $printfSQL.split('\n') )
		"${line}#if($foreach.hasNext)\n#end"#if($foreach.hasNext)+ #else; #end
		#end

	/**
		Pass a Connection. You are responsible for closing that Connection.
		${statementClassName} is a wrapper for a PreparedStatement, not a Connection.
	**/
	public ${statementClassName}( Connection connection, int resultSetType, int resultSetConcurrency )
		throws SQLException
	{
		__ps = connection.prepareStatement( __preparedSQL, resultSetType, resultSetConcurrency );
	}

	public ${statementClassName}( Connection connection )
		throws SQLException
	{
		this( connection, ResultSet.TYPE_SCROLL_INSENSITIVE, ResultSet.CONCUR_READ_ONLY );
	}

	/**
		Pass a DataSource. You are responsible for closing that DataSource.
		${statementClassName} is a wrapper for a PreparedStatement, not a Connection.
	**/
	public ${statementClassName}( DataSource dataSource, int resultSetType, int resultSetConcurrency )
		throws SQLException
	{
		this( dataSource.getConnection(), resultSetType, resultSetConcurrency );
	}

	public ${statementClassName}( DataSource dataSource )
		throws SQLException
	{
		this( dataSource, ResultSet.TYPE_SCROLL_INSENSITIVE, ResultSet.CONCUR_READ_ONLY );
	}

	public final ${resultSetClassName} execute()
		throws SQLException
	{
        #foreach( $p in $statementProperties )
        __ps.set${p.classShortName}( ${p.nth}, ${p.getter}() );
        #end

        ResultSet rs = null;
        if( __ps.execute() )
        {
            rs = __ps.getResultSet();
        }
		${resultSetClassName} result = new ${resultSetClassName}( rs );
        return result;
    }

	// TODO add null check to setters (when !isnullable)
    #foreach( $p in $statementProperties )
    private ${p.classShortName} _${p.variable} = ${p.asCode};
    public void ${p.setter}( ${p.classShortName} ${p.variable} ) { _${p.variable} = ${p.variable}; }
    public ${p.classShortName} ${p.getter}() { return _${p.variable}; }

    #end

	public String toString()
	{
		return String.format( __printfSQL
            #foreach( $p in $statementProperties )
            , ${p.getter}()
            #end
		);
	}
}