## Copyright 2010-2024 Jason Osgood
## SPDX-License-Identifier: Apache-2.0
##
## NormalSQL - SELECT Statement Template for Java & JDBC
##
## Copyright 2024, 2023, 2022, 2014, 2011, 2010 Jason Osgood
##
## Template Parameters:
##
##     esc - EscapeTool
##     now - current timestamp
##     packageName - target Java package name as String
##     statementClassName - target Java class name for PreparedStatement wrapper as String
##     resultSetClassName - target Java class name for ResultSet wrapper as String
##     sourceFile - name of original .sql file
##     originalSQL - original unparsed SQL
##     preparedSQL - prepared statement version of originalSQL
##     printfSQL - printf version of originalSQL, for debugging
##     params - List<PreparedStatementParameter>, meta data for getters and setters
## TODO can this source file's header be a sub-template....?
/**
* ${statementClassName}.java
* ${now}
*
## TODO add template's full filename and timestamp here
* Generated using NormalSQL's Select.vm template.
*
* Original SQL:
*
* @see ${sourceFile}
*
*/

#if( $packageName )
package ${packageName};

#end
import java.sql.Connection;
import java.sql.PreparedStatement;
import java.sql.ResultSet;
import java.sql.SQLException;
import javax.sql.DataSource;
import java.math.BigDecimal;

public class
	${statementClassName}
implements
	AutoCloseable
{
	public final String __originalSQL = """
		#foreach( $line in $originalSQL.split('\n') )
		${esc.java($line)}
		#end
	""";

	public final String __preparedSQL = """
		#foreach( $line in $preparedSQL.split('\n') )
		${esc.java($line)}
		#end
	""";

	public final String __printfSQL = """
		#foreach( $line in $printfSQL.split('\n') )
		${esc.java($line)}
		#end
	""";

	public final PreparedStatement __ps;

	/**
		Pass a Connection. You are responsible for closing that Connection.
		${statementClassName} is a wrapper for a PreparedStatement, not a Connection.
	*/
	public ${statementClassName}( Connection connection, int resultSetType, int resultSetConcurrency )
		throws SQLException
	{
		__ps = connection.prepareStatement( __preparedSQL, resultSetType, resultSetConcurrency );
	}

	public ${statementClassName}( Connection connection )
		throws SQLException
	{
		this( connection, ResultSet.TYPE_SCROLL_INSENSITIVE, ResultSet.CONCUR_READ_ONLY );
	}

	/**
		Pass a DataSource. You are responsible for closing that DataSource.
		${statementClassName} is a wrapper for a PreparedStatement, not a Connection.
	*/
	public ${statementClassName}( DataSource dataSource, int resultSetType, int resultSetConcurrency )
		throws SQLException
	{
		this( dataSource.getConnection(), resultSetType, resultSetConcurrency );
	}

	public ${statementClassName}( DataSource dataSource )
		throws SQLException
	{
		this( dataSource.getConnection() );
	}

	private ${resultSetClassName} __wrapperRS;

	public final ${resultSetClassName} execute()
		throws SQLException
	{
        #foreach( $p in $params )
        __ps.setObject( ${p.nth}, ${p.getter}() );
        #end

        if( __ps.execute() )
        {
			ResultSet rs = __ps.getResultSet();
			__wrapperRS = new ${resultSetClassName}( rs );
			return __wrapperRS;
        }

		// TODO return NullObject
        return null;
    }

	public void close()
		throws SQLException
	{
		// TODO add try/catch. figure out how to rethrow (possibly) 2 exceptions
		if( __wrapperRS != null )
		{
			__wrapperRS.close();
		}
		if( !__ps.isClosed() )
		{
			__ps.close();
		}
	}

	// TODO add null check to setters (when !isnullable)
    #foreach( $p in $params )
    private ${p.className} _${p.variable} = ${p.translated};
    public void ${p.setter}( ${p.className} ${p.variable} ) { _${p.variable} = ${p.variable}; }
    public ${p.className} ${p.getter}() { return _${p.variable}; }

    #end
	public String toString()
	{
		return String.format( __printfSQL
            #foreach( $p in $params )
            , ${p.getter}()
            #end
		);
	}
}
