## Fado's SELECT ResultSet Template for Java & JDBC
## 
## Copyright 2022, 2014, 2011, 2010 Jason Osgood
##
## Template Parameters:
##
##     helper - Capitalization and type casting methods.
##     date - current timestamp
##     packageName - target Java package name as String
##     className - target Java class name as String
##     sourceFile - name of original .sql file
##     originalSQL - original unparsed SQL
##     printfSQL - like preparedSQL, but for printf
##     sourceFile - name of original .sql file
##     columnList - terms from prepared SQL as List<fado.Condition>
/**
* ${className}ResultSet.java   ${date}
*
* Generated using Fado's ResultSet.vm template.
*
* @see ${sourceFile}
*
**/

## TODO add null check here
package ${packageName};

import java.sql.*;
import java.math.BigDecimal;

public class 
	${className}ResultSet
{
	private ResultSet __resultSet = null;

	public ${className}ResultSet( ResultSet resultSet )
	{
		__resultSet = resultSet;
	}

	public final ResultSet getResultSet()
	{
		return __resultSet;
	}

	public boolean getSuccess()
	{
		return __resultSet != null;
	}

	/**
		Closes the contained ResultSet instance. Also closes contained Connection instance
		created via a DataSource connection factory.
	**/
	public void close()
		throws SQLException
	{
		if( __resultSet != null )
		{
			__resultSet.close();
			__resultSet = null;
		}
		Connection connection = getConnection();
		if( connection != null )
		{
			connection.close();
		}
	}

	private Connection __connection = null;

	public void setConnection( Connection connection )
	{
		__connection = connection;
	}

	public Connection getConnection()
	{
		return __connection;
	}

	public final boolean hasNext()
		throws SQLException
	{
		ResultSet rs = getResultSet();
		if( rs == null ) return false;
		boolean	success = rs.next();
		if( success )
		{
#foreach( $column in $columnList )
	#set( $method = $helper.toMethodName( $column.preferredName ))
	#set( $var = $helper.toVariableName( $column.preferredName ))
	#set( $type = $helper.toVariableType( $column.type ))
			_${var} = rs.get${method}( ${foreach.count} );
#if( $column.isNullable )
			_${var}_wasNULL = !rs.wasNull();
#end
#end
		}
		return success;
	}

	/**
     *  Attempt to count this ResultSet's number of rows.
     *  @return number of rows. Or -1 if ResultSet's scroll type is TYPE_FORWARD_ONLY
     *  or if any exception occurs.
     */
	public int countRows()
	{
		int result = -1;
		try
		{
			ResultSet rs = getResultSet();
			if( rs.getType() != ResultSet.TYPE_FORWARD_ONLY )
			{
				int current = rs.getRow();
				if( rs.last() )
				{
					result = rs.getRow();
					if( current == 0 )
					{
						rs.beforeFirst();
					}
					else
					{
						rs.absolute( current );
					}
				}
			}
		}
		catch( SQLException e )
		{
			e.printStackTrace();
		}
		return result;
	}
	
#foreach( $column in $columnList )
#set( $method = $helper.toMethodName( $column.preferredName ))
#set( $var = $helper.toVariableName( $column.preferredName ))
#set( $type = $helper.toVariableType( $column.type ))
#set( $type = $helper.toVariableType( $column.type ))
#set( $javadoc = $helper.toNameAndAlias( $column ))
	private ${type} _${var} = ${helper.getInitializerValue( $column.type )};
	/** column ${javadoc} **/
	public ${type} get${method}() { return _${var}; }
#if( $column.isNullable )
	private boolean _${var}_wasNULL = false;
	/** returns true if column ${javadoc} was NULL **/
	public boolean was${method}NULL() { return _${var}_wasNULL; }
#end
#end

	public String toString()
	{
		if( getResultSet() == null )
		{
			return "No results";
		}
		StringBuilder sb = new StringBuilder();
		sb.append( "#row: " );
		sb.append( getRow() );
		sb.append( ", \n" );
#foreach( $column in $columnList )
#set( $method = $helper.toMethodName( $column.preferredName ))
		sb.append( "${method}: " );
		sb.append( get${method}() );
		sb.append( ", \n" );
#end
		return sb.toString();
	}
}
