## Copyright 2010-2023 Jason Osgood
## SPDX-License-Identifier: Apache-2.0
##
## NormalSQL - SELECT Statement Template for Java & JDBC
##
## Copyright 2023, 2022, 2014, 2011, 2010 Jason Osgood
##
## Template Parameters:
##
##     esc - EscapeTool
##     now - current timestamp
##     packageName - target Java package name as String
##     statementClassName - target Java class name for PreparedStatement wrapper as String
##     resultSetClassName - target Java class name for ResultSet wrapper as String
##     sourceFile - name of original .sql file
##     originalSQL - original unparsed SQL
##     preparedSQL - prepared statement version of originalSQL
##     printfSQL - printf version of originalSQL, for debugging
##     params - List<PreparedStatementParameter>, meta data for getters and setters
## TODO can this source file's header be a sub-template....?
/**
## Change date to UTC or something
* ${statementClassName}.java
* ${now}
*
## TODO add template full filename and its timestamp here
* Generated using NormalSQL's Select.vm template.
*
* Original SQL:
*
## TODO: Should this be a JavaDoc @snippet?
* <pre>
* {@code
#foreach( $line in $originalSQL.split('\n') )
* $line
#end
* }
* </pre>
*
## TODO use project's root for relative dir, vs absolute dir
* @see ${sourceFile}
*
*/

#if( $packageName )
package ${packageName};
#end

import java.sql.Connection;
import java.sql.PreparedStatement;
import java.sql.ResultSet;
import java.sql.SQLException;
import javax.sql.DataSource;
import java.math.BigDecimal;

public class
	${statementClassName}
implements
	AutoCloseable
{
	private final PreparedStatement __ps;
	private ${resultSetClassName} __wrapperRS;

	public final String __preparedSQL =
## add back each '\n', then concat each line with '+', then end with ';'
		#foreach( $line in $preparedSQL.split('\n') )
		"${esc.java($line)}#if($foreach.hasNext)\n" + #else"; #end
		#end

	public final String __printfSQL =
## add back each '\n' (as %n), then concat each line with '+', then end with ';'
		#foreach( $line in $printfSQL.split('\n') )
		"${esc.java($line)}#if($foreach.hasNext)\n" + #else"; #end
		#end

	/**
		Pass a Connection. You are responsible for closing that Connection.
		${statementClassName} is a wrapper for a PreparedStatement, not a Connection.
	*/
	public ${statementClassName}( Connection connection, int resultSetType, int resultSetConcurrency )
		throws SQLException
	{
		__ps = connection.prepareStatement( __preparedSQL, resultSetType, resultSetConcurrency );
	}

	public ${statementClassName}( Connection connection )
		throws SQLException
	{
		this( connection, ResultSet.TYPE_SCROLL_INSENSITIVE, ResultSet.CONCUR_READ_ONLY );
	}

	/**
		Pass a DataSource. You are responsible for closing that DataSource.
		${statementClassName} is a wrapper for a PreparedStatement, not a Connection.
	*/
	public ${statementClassName}( DataSource dataSource, int resultSetType, int resultSetConcurrency )
		throws SQLException
	{
		this( dataSource.getConnection(), resultSetType, resultSetConcurrency );
	}

	public ${statementClassName}( DataSource dataSource )
		throws SQLException
	{
		this( dataSource, ResultSet.TYPE_SCROLL_INSENSITIVE, ResultSet.CONCUR_READ_ONLY );
	}

	public void close()
		throws SQLException
	{
		// TODO add try/catch. figure out how to rethrow (possibly) 2 exceptions
		if( __wrapperRS != null )
		{
			__wrapperRS.close();
		}
		if( __ps != null )
		{
			__ps.close();
		}
	}

	public final ${resultSetClassName} execute()
		throws SQLException
	{
        #foreach( $p in $params )
        __ps.setObject( ${p.nth}, ${p.getter}() );
        #end

        if( __ps.execute() )
        {
	        ResultSet rs = __ps.getResultSet();
			return new ${resultSetClassName}( rs );
			ResultSet rs = __ps.getResultSet();
			__wrapperRS = new ${resultSetClassName}( rs );
			return __wrapperRS;
        }

        return null;
    }

	// TODO add null check to setters (when !isnullable)
    #foreach( $p in $params )
    private ${p.className} _${p.variable} = ${p.translated};
    public void ${p.setter}( ${p.className} ${p.variable} ) { _${p.variable} = ${p.variable}; }
    public ${p.className} ${p.getter}() { return _${p.variable}; }

    #end

	public String toString()
	{
		return String.format( __printfSQL
            #foreach( $p in $params )
            , ${p.getter}()
            #end
		);
	}
}
